h1 {
  font-family: Raleway;
  font-size: 52px;
  color: white;
  font-weight: 600;
  line-height: 80px;
}

h2 {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}

p {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #8C8C8C;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 19px 40px 18px 40px;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  background: #988574;
  text-transform: uppercase;
  font-weight: 400;
  font-family: Roboto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header {
  background: url(../img/bg_header.jpg) no-repeat;
  background-position-x: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 50px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__menu {
  font-family: Montserrat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu a {
  margin-right: 24px;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.header__menu a:last-of-type {
  margin-right: 55px;
}

.header__menu a:hover {
  color: #C7B299;
}

.header__menu svg {
  margin-right: 30px;
}

.header__menu svg:last-of-type {
  margin-right: 0px;
}

.header__slider {
  padding: 315px 0 315px 0;
  max-width: 570px;
  text-align: center;
}

.header__slider p {
  color: white;
}

.header__slider-text-top {
  font-family: Raleway;
  font-size: 35px;
  font-weight: 600;
}

.header__slider-text-bot {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 20px;
}

.header__slider-arrow-left {
  top: 47%;
  position: absolute;
  left: 0;
  margin-left: 156px;
}

.header__slider-arrow-right {
  top: 47%;
  position: absolute;
  right: 0;
  margin-right: 156px;
}

.header__slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slider-dots-dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.header__slider-dots-dot:hover {
  border: solid 1px #D3C1AD;
  background: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services__wrapper {
  padding-top: 85px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__list {
  width: 270px;
}

.services__list:hover path {
  fill: #C7B299;
}

.services__list:hover .services__list-header {
  color: #C7B299;
}

.services__list:hover .services__list-info::after {
  border-color: #C7B299;
}

.services__list svg {
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.services__list-header {
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #555555;
}

.services__list-info {
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.services__list-info::after {
  content: '';
  border-bottom: 3px solid #F1EEE9;
  display: block;
  width: 70px;
  margin: 0 auto;
  margin-top: 30px;
}

.idea {
  background: #FBFAF8;
}

.idea__wrapper {
  padding-top: 80px;
  text-align: center;
}

.idea__header {
  margin-bottom: 20px;
}

.idea__info {
  margin: auto;
  padding-bottom: 40px;
  max-width: 770px;
}

.idea img {
  width: 100%;
  margin-bottom: -1px;
}

.theme {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.theme__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 41px;
}

.theme h3 {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 400;
  color: white;
  margin-bottom: 6px;
  line-height: 32px;
}

.theme h3 span {
  color: #C7B299;
}

.theme__text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  color: #615855;
  line-height: 22px;
}

.projects input[type="radio"]:checked + label {
  background-color: #998575;
  color: white;
}

.projects input[type="radio"] {
  display: none;
}

.projects__wrapper {
  text-align: center;
  padding: 61px 0 33px 0;
}

.projects__header {
  margin-bottom: 25px;
}

.projects__info {
  margin: auto;
  margin-bottom: 27px;
  max-width: 800px;
}

.projects__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 590px;
  margin: auto auto 69px auto;
}

.projects__radios-switch {
  padding: 7px 17px 8px 17px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  color: #8C8C8C;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}

.projects__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1230px;
  margin: auto;
}

.projects__portfolio-card:first-of-type {
  margin-bottom: 69px;
}

.projects__portfolio-card {
  max-width: 370px;
  margin-bottom: 49px;
  text-align: left;
}

.projects__portfolio-card img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects__portfolio-card:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects__portfolio-card:hover figcaption {
  background-color: #352F2D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects__portfolio-card:hover figcaption::before {
  background-color: #352F2D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects__portfolio-card:hover .projects__portfolio-card-header {
  color: white;
}

.projects__portfolio-card:hover .projects__portfolio-card-text {
  color: #C7B299;
}

.projects__portfolio-card figcaption {
  padding: 26px 23px 26px 23px;
  background-color: #FBFAF8;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects__portfolio-card figcaption::before {
  content: '';
  height: 10px;
  width: 30px;
  display: block;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
          clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  position: absolute;
  bottom: 99%;
  background-color: #FBFAF8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects__portfolio-card-header {
  font-family: Raleway;
  color: #C7B299;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
}

.projects__portfolio-card-text {
  font-size: 14px;
  color: #D1D1D1;
}

.projects .btn {
  padding: 18px 46px 18px 46px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects .btn:hover {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video {
  position: relative;
  overflow: hidden;
  margin-bottom: 78px;
}

.video__wrapper {
  text-align: center;
  padding: 250px 0 195px 0;
  position: relative;
  z-index: 1;
}

.video video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  z-index: 0;
}

.video svg {
  margin-bottom: 18px;
}

.video__header {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 30px;
  color: white;
}

.video__info {
  margin: auto;
  margin-bottom: 18px;
  max-width: 570px;
  color: white;
}

.video__time {
  color: #C7B299;
  font-weight: 400;
}

.mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile__img {
  margin-right: 65px;
}

.mobile__info {
  margin-bottom: 18px;
  padding: 112px 0 0 0;
}

.mobile__info-header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}

.mobile__info-text {
  max-width: 670px;
  margin-bottom: 50px;
  color: #8C8C8C;
  line-height: 20px;
}

.mobile__info ul {
  padding: 0 0 0 65px;
}

.mobile__info-list {
  margin-bottom: 10px;
  color: #8C8C8C;
  line-height: 20px;
  font-family: Montserrat;
}

.mobile__info-list::before {
  content: '\f138 ';
  font-family: 'FontAwesome';
  margin-right: 8px;
  font-weight: 600;
  color: #C7B299;
  font-size: 21px;
}

.successes {
  padding-top: 36px;
  padding-bottom: 34px;
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
  margin-bottom: 100px;
}

.successes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 780px;
}

.successes__list {
  margin: auto;
}

.successes__list svg {
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.successes__list-header {
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  color: white;
}

.successes__list-info {
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #C7B299;
}

.successes__list-info::after {
  content: '';
  border-bottom: 2px solid #FFFFFF;
  display: block;
  width: 30px;
  margin: 0 auto;
  margin-top: 30px;
}

.posts {
  margin-bottom: 38px;
}

.posts__wrapper {
  text-align: center;
}

.posts__header {
  margin-bottom: 25px;
}

.posts__info {
  margin: auto;
  margin-bottom: 30px;
  max-width: 770px;
}

.posts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__list figure {
  position: relative;
}

.posts__list-card {
  max-width: 370px;
  text-align: left;
  margin-bottom: 55px;
}

.posts__list-card:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.posts__list-card:hover figcaption {
  background-color: #352F2D;
}

.posts__list-card:hover .posts__list-card-header {
  color: #C7B299;
}

.posts__list-card:hover .posts__list-card-data-number {
  background: #C7B199;
}

.posts__list-card:hover .posts__list-card-data-month {
  background: #A48D71;
}

.posts__list-card:hover .posts__list-card-text {
  color: white;
}

.posts__list-card figcaption {
  padding: 31px 23px 22px 23px;
  background-color: #FBFAF8;
  border-left: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
  border-bottom: 1px solid #B3B3B3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.posts__list-card-header {
  font-family: Raleway;
  color: #555555;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 20px;
}

.posts__list-card-data {
  position: absolute;
  top: 17px;
  left: 23px;
  text-align: center;
}

.posts__list-card-data-number {
  font-size: 30px;
  font-family: Montserrat;
  background: #363636;
  border-radius: 3px 3px 0px 0px;
  padding: 1px 7px;
  line-height: 37px;
  color: white;
}

.posts__list-card-data-month {
  font-size: 12px;
  font-family: Roboto;
  background: #242424;
  font-weight: 400;
  border-radius: 0px 0px 3px 3px;
  padding: 5px 13px;
  color: white;
}

.posts__list-card-text {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 17px;
}

.posts__list-card-link {
  font-family: Montserrat;
  font-weight: 300;
  color: #C7B299;
  font-size: 14px;
}

.posts__list-card-link::after {
  content: '\f0da ';
  font-family: fontAwesome;
  margin-left: 15px;
  font-size: 14px;
}

.posts__btn {
  border: none;
  padding: 0px;
  outline: none;
  background-color: white;
}

.posts__btn-prev {
  margin-right: 18px;
}

.posts__btn-next {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.posts__btn:hover path {
  fill: #C7B299;
}

.partners {
  background-image: url("../img/bg_partners.png");
  padding: 140px 0;
  background-size: cover;
}

.partners__img {
  margin: auto;
}

.footer {
  background-color: #101010;
  padding: 140px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
}

.footer__header {
  color: white;
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 23px;
}

.footer__logo {
  margin-bottom: 18px;
}

.footer__logo_text {
  color: #555555;
  font-size: 14px;
  margin-bottom: 18px;
}

.footer__logo_link {
  font-size: 14px;
  font-weight: 400;
  font-family: Montserrat;
  color: #D1D1D1;
  margin-right: 7px;
}

.footer .fa-caret-right {
  color: #D1D1D1;
  vertical-align: middle;
  font-size: 14px;
}

.footer__post {
  padding-bottom: 16px;
  margin-bottom: 12px;
}

.footer__post:not(:last-of-type) {
  border-bottom: 1px solid #242424;
}

.footer__post:hover .footer__post_data {
  color: white;
}

.footer__post:hover .footer__post_text {
  color: #C7B299;
}

.footer__post_data {
  color: #363636;
  font-size: 12px;
  margin-bottom: 6px;
}

.footer__post_text {
  font-size: 14px;
  color: #555555;
}

.footer__twiter {
  padding-bottom: 16px;
  margin-bottom: 12px;
}

.footer__twiter:not(:last-of-type) {
  border-bottom: 1px solid #242424;
}

.footer__twiter_text {
  color: #555555;
  font-size: 12px;
  margin-bottom: 6px;
}

.footer__twiter_data {
  color: #363636;
  font-size: 12px;
}

.footer__twiter_hashtag {
  color: #00BFF3;
}

.footer__twiter_link {
  color: #757575;
}

.footer__widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__widget img:nth-of-type(-n+2) {
  margin-bottom: 8px;
}

.footer__widget img:nth-of-type(2n+1) {
  margin-right: 8px;
}

@media screen and (min-width: 850px) and (max-width: 1110px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__info img {
    margin-bottom: 25px;
  }
  .header__slider-arrow-left {
    top: 52%;
    margin-left: 70px;
  }
  .header__slider-arrow-right {
    top: 52%;
    margin-right: 70px;
  }
  .services__wrapper {
    width: 80%;
  }
  .services__list:first-of-type {
    margin-bottom: 30px;
  }
  .mobile__img {
    margin-right: 35px;
  }
  .mobile__info ul {
    padding: 0 0 0 0px;
  }
  .posts__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__widget img {
    margin-right: 15px;
  }
  .footer__widget img:nth-of-type(-n+2) {
    margin-bottom: 0px;
  }
  .footer__widget img:nth-of-type(2n+1) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 600px) and (max-width: 849px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__menu::before {
    content: '\f0c9 ';
    font-family: FontAwesome;
    font-size: 25px;
    color: white;
    margin-right: 25px;
  }
  .header__menu a {
    display: none;
  }
  .header__slider-arrow-left {
    display: none;
  }
  .header__slider-arrow-right {
    display: none;
  }
  .services__list:first-of-type {
    margin-bottom: 30px;
  }
  .mobile__img {
    display: none;
  }
  .mobile__info {
    padding: 0px 0 0 0;
    margin-bottom: 78px;
  }
  .mobile__info ul {
    padding: 0 0 0 0px;
  }
  .posts__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .successes__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .successes__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .successes__list-header {
    font-size: 30px;
  }
  .theme h3 {
    font-size: 18px;
  }
  .theme__text {
    font-size: 14px;
  }
  .theme .btn {
    padding: 10px 20px 10px 20px;
  }
  .footer__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__menu svg {
    margin-right: 15px;
  }
  .header__menu::before {
    content: '\f0c9 ';
    font-family: FontAwesome;
    font-size: 25px;
    color: white;
    margin-right: 15px;
  }
  .header__menu a {
    display: none;
  }
  .header__slider-text-top {
    line-height: 40px;
  }
  .header__slider-arrow-left {
    display: none;
  }
  .header__slider-arrow-right {
    display: none;
  }
  .services__list {
    margin-bottom: 30px;
  }
  .services__list:last-of-type {
    margin-bottom: 0px;
  }
  .projects__wrapper {
    text-align: center;
  }
  .projects__header {
    margin-bottom: 25px;
  }
  .projects__radios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects__radios-switch {
    margin: 0 5px 10px;
  }
  .mobile__img {
    display: none;
  }
  .mobile__info {
    padding: 0px 0 0 0;
    margin-bottom: 78px;
  }
  .mobile__info ul {
    padding: 0 0 0 0px;
  }
  .posts__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .successes__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .successes__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  .successes__list-header {
    font-size: 30px;
  }
  .theme {
    text-align: center;
  }
  .theme h3 {
    font-size: 18px;
  }
  .theme__text {
    font-size: 14px;
  }
  .theme .btn {
    padding: 10px 20px 10px 20px;
  }
  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer figcaption {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */